{% extends "BhbHome/base.html" %}

{% block title %}About Us{% endblock title %}
{% block custom_css %}

 <style>
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 200px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 50%;
  margin: 0;
  padding: 0;
}
</style>
{% endblock custom_css %}

{% block bodydata %}

 <div id="map"></div>
{% endblock bodydata %}




{% block custom_js %}


 <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQYKydQmNt6C0focmY3Y-8Hx2hLyd2-70&callback=initMap&libraries=&v=weekly"
      async
    ></script>
<script>
let map;

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 6.146867, lng: 80.697915 },
    zoom: 17,
  });
}

</script>

{% endblock custom_js %}