{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
     <link href="{% static 'materialize/css/materialize.css' %}" rel="stylesheet">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
     <script src="{% static 'materialize/js/materialize.min.js' %}"></script>

{% include 'BhbHome/navbar.html' %}
 {% block custom_css %}
     <style>
Body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    left: 0;
    bottom: 0;
  }

  main {
    flex: 1 0 auto;
  }

.page-footer{
background-color: #31cabc;

}
.page-footer .footer-copyright {

    color: rgba(17, 17, 17, 0.8);
    background-color: rgba(54, 140, 159, 0.4);
}

 .parallax-container {
      height: 400px;
     width: 100%;
    }



</style>



 {% endblock custom_css %}
</head>
<body>
{% block bodydata %}{% endblock bodydata %}
{% include 'BhbHome/footer.html' %}
{% block custom_js %}
<script>
$(document).ready(function (){
console.log("hello");
$(".dropdown-trigger").dropdown();
 $('.carousel').carousel();
  $('.carousel.carousel-slider').carousel({
    fullWidth: true
  });
  $('.parallax').parallax();

      {#$('.sidenav').sidenav();#}


 }) ;


</script>
{% endblock custom_js %}


</body>
</html>