
{% extends "BhbHome/base.html" %}



{% block bodydata %}
    <div class="container">


    <div id="message" hidden="True">

    <p id="message">we recived yoour email and will respond shortly....</p>


    </div>


 <div class="row">

 <div class="center-align"> Contact us via Email</div>
    <form action="send_email" id="contact-form" method="post" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="first name" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="last name"  id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <input placeholder="your email"  id="email" type="email" class="validate">
          <label for="email">Your Email</label>
        </div>
      </div>


<div class="row">
        <div class="input-field col s12">
          <input placeholder="Email Subject" id="email_subject" type="text" class="validate">
          <label for="email_suject">Subject</label>
        </div>
      </div>

{#<div class="row">#}
{#    <form class="col s12">#}
{#      <div class="row">#}
{#        <div class="input-field col s12">#}
{#          <textarea placeholder="Email Body" id="textarea1" class="materialize-textarea"></textarea>#}
{#          <label for="textarea1">Email body</label>#}
{#        </div>#}
{#      </div>#}
{#    </form>#}
{#  </div>#}


      <div class="row">
        <div class="input-field col s12">
            <textarea class="materialize-textarea validate" name ="comment-field" id="textarea1" required></textarea>
            <label for="email body">body</label>
        </div>
    </div>

<div class="row">
        <div class="input-field col s12">
            <button class="waves-effect waves-light btn" id="contact-form-button" type="submit">submit</button>
        </div>
    </div>





    </form>


  </div>





</div>
{% endblock bodydata %}
{% block custom_js %}
    <script>
$(document).ready(function() {
    var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
    // process the form
    $('form').submit(function(event) {
          console.log('jdddj');
        // get the form data
        // there are many ways to get this data using jQuery (you can use the class or id also)
        var formData = {
            'first_name'              : $('input[id=first_name]').val(),
            'last_name'              : $('input[id=last_name]').val(),
            'email'             : $('input[id=email]').val(),
             'subject'              : $('input[id=email_subject]').val(),
              'email_body'              : $('textarea[id=textarea1]').val()

        };

        // process the form
        $.ajax({
            type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url         : "{% url 'send_email' %}", // the url where we want to POST
            data        : {
                'content':formData,
                'csrfmiddlewaretoken':'{{ csrf_token }}',

            } ,
            success:function (data) {

                 $('#contact-form')[0].reset();





            },
            // our data object

            dataType    : 'json', // what type of data do we expect back from the server
                        encode          : true,


        })
            // using the done promise callback

        // stop the form from submitting the normal way and refreshing the page
        event.preventDefault();
    });

});
</script>

{% endblock custom_js %}