{% extends "BhbHome/base.html" %}
{% load static %}
{% block title %}
BHBWalasmulla

{% endblock title %}








{% block bodydata %}
{#{% include 'BhbHome/Sidebar.html' %}#}
 <div class="parallax-container">
      <div class="parallax">

      <img class="responsive-img" src="{% static 'Images/hospital_background.jpg' %}">

      </div>
    </div>

   <div class="carousel">
    <a class="carousel-item " href="#one!"><img class= "responsive-img" src="{% static 'Images/1.jpg' %}"></a>
    <a class="carousel-item" href="#one!"><img class= "responsive-img" src="{% static 'Images/2.jpg' %}"></a>
    <a class="carousel-item" href="#one!"><img class= "responsive-img"  src="{% static 'Images/3.jpg' %}"></a>
    <a class="carousel-item" href="#one!"><img class= "responsive-img"  src="{% static 'Images/4.jpg' %}"></a>
    <a class="carousel-item" href="#one!"><img class= "responsive-img"  src="{% static 'Images/5.jpg' %}"></a>
    <a class="carousel-item" href="#one!"><img class= "responsive-img"  src="{% static 'Images/6.jpg' %}"></a>
  </div>


  <div class="row">
 <div class="col l4 s12 m7">
      <div class="card">
        <div class="card-image">
          <img class= "responsive-img" src="{% static 'Images/1.jpg' %}">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>



  <div class="col l4 s12 m7">
      <div class="card">
        <div class="card-image">
          <img class= "responsive-img" src="{% static 'Images/2.jpg' %}">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>



  <div class="col l4 s12 m7">
      <div class="card">
        <div class="card-image">
          <img class= "responsive-img" src="{% static 'Images/3.jpg' %}">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>


  </div>

{% endblock bodydata %}


