{% load static %}
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav class="#2196f3 blue">
  <div class="nav-wrapper">
   <img class="responsive-img circle" src="{% static 'Images/logo.jpeg' %}">
    <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about_us' %}">About Us</a></li>
      <li><a href="{% url 'visionmission' %}">Our Vision & Mission</a></li>
        <li><a href="{% url 'news' %}">News</a></li>
        <li><a href="{% url 'gallery' %}">Gallery</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Services<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
<style>

img.responsive-img, video.responsive-video {

    height: auto;
    height: inherit;
}

nav {

    height: 60px;
    line-height: 64px
}
</style>