  <ul id="slide-out" class="side-nav full">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="">Item List</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="large mdi-navigation-menu"></i></a>
  <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle">

          </div>
        </div>
          <div class="gap-patch">
          <div class="circle">

          </div>
        </div>
          <div class="circle-clipper right">
          <div class="circle"></div>
          </div></div></div>
  
