{% extends "BhbHome/base.html" %}



{% block bodydata %}
<div class = "container">
      <div class = "row">
         <form class = "col s12">
            <div class = "row">
               <div class = "input-field col s6">

                  <input placeholder="Date" type = "text" class="datepicker" required />
                  <label for = "name">Date</label>
               </div>
            </div>

            <div class = "row">
               <div class = "input-field col s12">
                  <input placeholder = "Title" id = "title" type = "text"
                     class = "validate">
                  <label for = "Title">Title</label>
               </div>
            </div>

            <div class = "row">
               <div class = "input-field col s12">

                  <textarea id = "content" class = "materialize-textarea"></textarea>
                  <label for = "content">Content</label>
               </div>
            </div>

             <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" placeholder="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

         </form>
      </div>
   </div>

   <script>
  $(document).ready(function(){
      $('.datepicker').datepicker();
  });
</script>
{% endblock bodydata %}



