{% extends 'BhbHome/base.html' %}

<head>
{% load static %}
{% block custom_css %}
<link href="{% static 'jqwidgets-ver11.0.1/jqwidgets/styles/jqx.base.css' %}" rel="stylesheet">
<link href="{% static 'jqwidgets-ver11.0.1/jqwidgets/styles/jqx.light.css' %}" rel="stylesheet">

{% endblock custom_css %}

{% block custom_js %}
{#    <script src="{% static 'jqwidgets-ver11.0.1/scripts/jquery-1.11.2.js' %}"></script>#}
     <script src="{% static 'jqwidgets-ver11.0.1/jqwidgets/jqxcore.js' %}"></script>
     <script src="{% static 'jqwidgets-ver11.0.1/jqwidgets/jqxdata.js' %}"></script>
     <script src="{% static 'jqwidgets-ver11.0.1/jqwidgets/jqxbuttons.js' %}"></script>
     <script src="{% static 'jqwidgets-ver11.0.1/jqwidgets/jqxscrollbar.js' %}"></script>
     <script src="{% static 'jqwidgets-ver11.0.1/jqwidgets/jqxmenu.js' %}"></script>
     <script src="{% static 'jqwidgets-ver11.0.1/jqwidgets/jqxgrid.js' %}"></script>
     <script src="{% static 'jqwidgets-ver11.0.1/jqwidgets/jqxgrid.columnsresize.js' %}"></script>
     <script src="{% static 'jqwidgets-ver11.0.1/jqwidgets/jqxgrid.selection.js' %}"></script>
     <script src="{% static 'jqwidgets-ver11.0.1/jqwidgets/jqxgrid.filter.js' %}"></script>
     <script src="{% static 'jqwidgets-ver11.0.1/jqwidgets/jqxgrid.sort.js' %}"></script>
     <script src="{% static 'jqwidgets-ver11.0.1/scripts/demos.js' %}"></script>
     <script src="{% static 'jqwidgets-ver11.0.1/jqwidgets/jqxlistbox.js' %}"></script>
     <script src="{% static 'jqwidgets-ver11.0.1/jqwidgets/jqxdropdownlist.js' %}"></script>
     <script src="{% static 'jqwidgets-ver11.0.1/jqwidgets/jqxdatatable.js' %}"></script>

<script>




   $(document).ready(function () {



            console.log('mohan hai')

            // prepare the data

            var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'full_name', type: 'string' },
                    { name: 'sex', type: 'string' },
                    { name: 'birthdate', type: 'string' },
                    { name: 'Nic', type: 'string' },
                    { name: 'Phone_number', type: 'string' },

                ],
                id:'id',
                url:'/employee/grid'
            };

         
            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#grid").jqxGrid(
            {
                width: getWidth('Grid'),
                source: dataAdapter,
                columnsresize: true,
                columns: [
                    { text: 'full_Name', datafield: 'full_name', width: 250 },
                    { text: 'Sex', datafield: 'sex', width: 150 },

                ]
            });
        });
   </script>
{% endblock custom_js %}
</head>

{% block bodydata %}
<body class="default">

    <div id='jqxWidget'>
        <div id="grid"></div>
    </div>
</body>

{% endblock bodydata %}











